/* Media queries and responsive styles 

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV

*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@media only screen and (min-width: 320px) and (max-width: 480px) {

  * {
    border: 1px red solid;
  }

  @media(orientation: landscape) {

    .section-hero,
    .section-hero-about,
    .section-hero-beer,
    .section-hero-about,
    .section-hero-dining,
    .section-hero-cards {
      height: 100vh !important;
    }
    
    .mobile-intro *{
      font-size: 1.5rem;
    }
    .title-intro,
    .section-hero-about h1,
    .section-hero-beer h1,
    .section-hero-about h1,
    .section-hero-dining h1,
    .section-hero-cards h1 {
      font-size: 3.5rem !important;
    }

    .main-logo {
      display: none;
    }
  }

  .mobile-intro {
    display: block;
  }



  .extra-nav {
    padding: 0;
  }

  .section-hero-about h1,
  .section-hero-dining h1 {
    font-size: 5.4rem;
    margin-top: -3rem;
  }

  nav {
    padding: 1rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.569);
  }

  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top:-25%; */
    color: var(--gray-light);
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .section-hero,
  .section-hero-beer,
  .section-hero-about,
  .section-hero-cards {
    height: 70vh;
  }

  .section-hero-beer h1 {
    font-size: 4.5rem;
    margin-top: -3rem;
  }

  .section-hero-about {
    height: 70vh;
    background: url(../img/brew_image1.jpg), linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 95%); 
    background: center / center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .section-hero-cards {
    height: 70vh;
    background: url(../img/gallery_5.jpg), linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 95%); 
    background: center / center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .section-hero-dining {
    height: 70vh;
    background: url(../img/brew_image2.jpg), linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 95%); 
    background: center / center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .dining-container,
  .dining-container img {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .section-hero-cards h1 {
    font-size: 3.8rem;
  }

  /* Hamburger Nav */

  .ham-menu,
  .off-screen-menu {
    display: block;
  }

  .off-screen-menu {
    background-color: var(--gray-dark);
    opacity: 80;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 9;
  }

  .off-screen-menu.active {
    right: 0;
  }

  .extra-nav {
    display: flex;
  }

  nav {
    padding: 1rem;
    display: flex;
    background-color: #000;
  }

  header.header {
    display: none;
  }

  .ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    z-index: 99;

  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--gray-light);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  #main-nav {
    justify-content: flex-start;
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-list li {
    display: none;
  }

  .main-logo {
    max-width: 8rem !important;
  }

  .section-features {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }

  .line {
    display: none;
  }


  .chevron-down {
    display: none;
  }

  .section-dining {
    padding-top: 3rem;
  }
  .dining-container {
    text-align: left;
  }

  .dining-container h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .dining-container h3 {
    font-size: 1.8rem;
  }

  .dining-container h3:last-of-type {
    margin-bottom: 4rem;
  }

  .dining-container img {
    width: 100%;
  }

  .section-hero-cards-text .gift-card-header-link {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

  * {
    border: 1px yellow solid;
  }

  @media(orientation: landscape) {

    .section-hero,
    .section-hero-about,
    .section-hero-beer,
    .section-hero-about,
    .section-hero-dining,
    .section-hero-cards {
      height: 100vh;
    }

    .mobile-intro {
      display: block;
      font-size: 2.8rem;
      margin-top: -10%;
    }

    .mobile-intro *{
      font-size: 1.5rem;
    }

    .extra-nav {
      padding: 0;
    }

    .title-intro,
    .section-hero-about h1,
    .section-hero-beer h1,
    .section-hero-about h1,
    .section-hero-dining h1,
    .section-hero-cards h1 {
      font-size: 3.5rem !important;
    }
  }

  .mobile-intro {
    display: block;
    font-size: 1.8rem
  }

  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: -25%; */
    color: var(--gray-light);
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-hero-about {
    height: 100vh;
    background: url(../img/brew_image1.jpg), linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 95%); 
    background: center / center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .section-hero-cards {
    height: 100vh;
    background: url(../img/gallery_5.jpg), linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 95%); 
    background: center / center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .section-hero-dining {
    height: 100vh;
    background: url(../img/brew_image2.jpg), linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 95%); 
    background: center / center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .dining-container,
  .dining-container img {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .title-intro {
    font-size: 4.8rem;
  }

  /* Hamburger Nav */

  .ham-menu,
  .off-screen-menu {
    display: block;
  }

  .off-screen-menu {
    background-color: var(--gray-dark);
    opacity: 80;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 9;
  }

  .off-screen-menu.active {
    right: 0;
  }

  .extra-nav {
    display: flex;
  
  }

  nav {
    padding: 1rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.569);
  }

  header.header {
    display: none;
  }

  .ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    z-index: 99;

  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--gray-light);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  #main-nav {
    justify-content: flex-start;
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-list li {
    display: none;
  }

  .main-logo {
    max-width: 8rem !important;
  }

  .section-features {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }

  .line {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  * {
    border: 1px blue solid;
  }

    @media(orientation: landscape) {

      .section-hero,
      .section-hero-about,
      .section-hero-beer,
      .section-hero-about,
      .section-hero-dining,
      .section-hero-cards {
        height: 100vh;
      }
      
      .mobile-intro *{
        font-size: 1.5rem;
      }
      .title-intro,
      .section-hero-about h1,
      .section-hero-beer h1,
      .section-hero-about h1,
      .section-hero-dining h1,
      .section-hero-cards h1 {
        font-size: 3.5rem !important;
      }

      .extra-nav {
        padding: 0;
      }
    }

  .text {
    font-size: 16px;
  }

  nav {
    padding: 1rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.569);
  }

  .mobile-intro {
    display: block;
    font-size: 2.8rem;
    margin-top: -10%;
  }

  .section-hero-beer-text h1 {
    font-size: 6.8rem;
  }

  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--gray-light);
    font-size: 2.4rem;
    line-height: 1.8;
  }

  .section-hero-about {
    height: 100vh;
    background: url(../img/brew_image1.jpg), linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 95%); 
    background: center / center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .section-hero-cards {
    height: 100vh;
    background: url(../img/gallery_5.jpg), linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 95%); 
    background: center / center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .section-hero-dining {
    height: 100vh;
    background: url(../img/brew_image2.jpg), linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 70%, rgba(0,0,0,1) 95%); 
    background: center / center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .dining-container,
  .dining-container img {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .title-intro {
    font-size: 5.8rem;
  }

   /* Hamburger Nav */

   .ham-menu,
   .off-screen-menu {
     display: block;
   }
 
   .off-screen-menu {
     background-color: var(--gray-dark);
     opacity: 80;
     height: 100vh;
     width: 100%;
     max-width: 450px;
     position: fixed;
     top: 0;
     right: -450px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-size: 3rem;
     transition: .3s ease;
     z-index: 9;
   }
 
   .off-screen-menu.active {
     right: 0;
   }
 
   .extra-nav {
     display: flex;
   
   }
 
   nav {
    padding: 1rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.569);
  }
   header.header {
     display: none;
   }
 
   .ham-menu {
     height: 50px;
     width: 50px;
     margin-left: auto;
     position: relative;
     z-index: 99;
 
   }
 
   .ham-menu span {
     height: 5px;
     width: 100%;
     background-color: var(--gray-light);
     border-radius: 25px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     transition: .3s ease;
   }
 
   .ham-menu span:nth-child(1) {
     top: 25%;
   }
 
   .ham-menu span:nth-child(3) {
     top: 75%;
   }
 
   .ham-menu.active span:nth-child(1) {
     top: 50%;
     transform: translate(-50%, -50%) rotate(45deg);
   }
 
   .ham-menu.active span:nth-child(2) {
     opacity: 0;
   }
 
   .ham-menu.active span:nth-child(3) {
     top: 50%;
     transform: translate(-50%, -50%) rotate(-45deg);
   }
 
   #main-nav {
     justify-content: flex-start;
     display: none;
   }
   .main-nav-list {
     flex-direction: column;
   }
 
   .main-nav-list li {
     display: none;
   }
 
   .main-logo {
     max-width: 8rem !important;
   }
 
   .section-features {
     flex-direction: column;
   }
 
   .footer-content {
     flex-direction: column;
     gap: 2rem;
   }
 
   .line {
     display: none;
   }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1201px) {
  .text {
    font-size: 16px;
  }
}

@media (max-width: 769px) {
  .employees-container {
    grid-template-columns: 1fr;
  }