/* Media queries and responsive styles 

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV

*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .mobile-intro {
    display: block;
  }

  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -25%;
    color: var(--gray-light);
    font-size: 1.4rem;
    line-height: 1.8;
  }

  /* Hamburger Nav */

  .ham-menu,
  .off-screen-menu {
    display: block;
  }

  .off-screen-menu {
    background-color: var(--gray-dark);
    opacity: 80;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 9;
  }

  .off-screen-menu.active {
    right: 0;
  }

  .extra-nav {
    display: flex;
  }

  nav {
    padding: 1rem;
    display: flex;
    background-color: #000;
  }

  header.header {
    display: none;
  }

  .ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    z-index: 99;

  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--gray-light);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  #main-nav {
    justify-content: flex-start;
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-list li {
    display: none;
  }

  .main-logo {
    max-width: 8rem !important;
  }

  .section-features {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }

  .line {
    display: none;
  }


  .chevron-down {
    display: none;
  }

  .section-dining {
    padding-top: 3rem;
  }
  .dining-container {
    text-align: left;
  }

  .dining-container h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .dining-container h3 {
    font-size: 1.8rem;
  }

  .dining-container h3:last-of-type {
    margin-bottom: 4rem;
  }

  .dining-container img {
    width: 100%;
  }

  .section-hero-cards-text .gift-card-header-link {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

  .mobile-intro {
    display: block;
  }

  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -25%;
    color: var(--gray-light);
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-intro {
    font-size: 3.2rem;
  }

  /* Hamburger Nav */

  .ham-menu,
  .off-screen-menu {
    display: block;
  }

  .off-screen-menu {
    background-color: var(--gray-dark);
    opacity: 80;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 9;
  }

  .off-screen-menu.active {
    right: 0;
  }

  .extra-nav {
    display: flex;
  
  }

  nav {
    padding: 1rem;
    display: flex;
    background-color: #000;
  }

  header.header {
    display: none;
  }

  .ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    z-index: 99;

  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--gray-light);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 25%;
  }

  .ham-menu span:nth-child(3) {
    top: 75%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  #main-nav {
    justify-content: flex-start;
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-list li {
    display: none;
  }

  .main-logo {
    max-width: 8rem !important;
  }

  .section-features {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }

  .line {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .text {
    font-size: 16px;
  }

  .mobile-intro {
    display: block;
  }

  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -25%;
    color: var(--gray-light);
    font-size: 2.4rem;
    line-height: 1.8;
  }

  .title-intro {
    font-size: 3.5rem;
  }

   /* Hamburger Nav */

   .ham-menu,
   .off-screen-menu {
     display: block;
   }
 
   .off-screen-menu {
     background-color: var(--gray-dark);
     opacity: 80;
     height: 100vh;
     width: 100%;
     max-width: 450px;
     position: fixed;
     top: 0;
     right: -450px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-size: 3rem;
     transition: .3s ease;
     z-index: 9;
   }
 
   .off-screen-menu.active {
     right: 0;
   }
 
   .extra-nav {
     display: flex;
   
   }
 
   nav {
     padding: 1rem;
     display: flex;
     background-color: #000;
   }
 
   header.header {
     display: none;
   }
 
   .ham-menu {
     height: 50px;
     width: 50px;
     margin-left: auto;
     position: relative;
     z-index: 99;
 
   }
 
   .ham-menu span {
     height: 5px;
     width: 100%;
     background-color: var(--gray-light);
     border-radius: 25px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     transition: .3s ease;
   }
 
   .ham-menu span:nth-child(1) {
     top: 25%;
   }
 
   .ham-menu span:nth-child(3) {
     top: 75%;
   }
 
   .ham-menu.active span:nth-child(1) {
     top: 50%;
     transform: translate(-50%, -50%) rotate(45deg);
   }
 
   .ham-menu.active span:nth-child(2) {
     opacity: 0;
   }
 
   .ham-menu.active span:nth-child(3) {
     top: 50%;
     transform: translate(-50%, -50%) rotate(-45deg);
   }
 
   #main-nav {
     justify-content: flex-start;
     display: none;
   }
   .main-nav-list {
     flex-direction: column;
   }
 
   .main-nav-list li {
     display: none;
   }
 
   .main-logo {
     max-width: 8rem !important;
   }
 
   .section-features {
     flex-direction: column;
   }
 
   .footer-content {
     flex-direction: column;
     gap: 2rem;
   }
 
   .line {
     display: none;
   }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1201px) {
  .text {
    font-size: 16px;
  }
}

@media (max-width: 769px) {
  .employees-container {
    grid-template-columns: 1fr;
  }